<ion-grid style="width: 100%; height: 100%; display: flex; flex-flow: column;" >
    <ion-row style="flex-grow: 1;">
        <ion-col>
            <div class="titulo_grafica">
                <h3 class="t_grafica">Cosas Lindas</h3>
            </div>
            <div class="grafico">
                <div class="sombra"></div>
                <div id="porcion1" class="recorte"><div class="quesito" ></div></div>
                <div id="porcion2" class="recorte"><div class="quesito" data-rel="145"></div></div>
                <div id="porcion3" class="recorte"><div class="quesito"></div></div>
                <div id="porcionFin" class="recorte"><div class="quesito" data-rel="215"></div></div>
           </div>
        </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col>
        <div class="board" style="width: 100%;height: 100%;">
            <div class="titulo_grafica">
                <h3 class="t_grafica">Cosas Feas</h3>
            </div>
            <div class="sub_board">
                <div class="sep_board"></div>
                <div class="cont_board">
                    <div class="graf_board">
                        <div class="barra">
                            <div class="sub_barra b1">
                                <div class="tag_g">35%</div>
                                <div class="tag_leyenda">día 1</div>
                            </div>
                        </div>
                        <div class="barra">
                            <div class="sub_barra b2">
                                <div class="tag_g">45%</div>
                                <div class="tag_leyenda">día 2</div>
                            </div>
                        </div>
                        <div class="barra">
                            <div class="sub_barra b3">
                                <div class="tag_g">55%</div>
                                <div class="tag_leyenda">día 3</div>
                            </div>
                        </div>
                        <div class="barra">
                            <div class="sub_barra b4">
                                <div class="tag_g">75%</div>
                                <div class="tag_leyenda">día 4</div>
                            </div>
                        </div>
                        <div class="barra">
                            <div class="sub_barra b5">
                                <div class="tag_g">85%</div>
                                <div class="tag_leyenda">día 5</div>
                            </div>
                        </div>
                    </div>
                    <div class="tag_board">
                        <div class="sub_tag_board">
                            <div>100</div>
                            <div>90</div>
                            <div>80</div>
                            <div>70</div>
                            <div>60</div>
                            <div>50</div>
                            <div>40</div>
                            <div>30</div>
                            <div>20</div>
                            <div>10</div>
                        </div>
                    </div>
               </div> 
                <div class="sep_board"></div>
           </div>    
        </div>
      </ion-col>
    </ion-row>    
</ion-grid>

    