<ion-app>
  <div id="divSuperpuesto"  [style.display]="splash ? 'flex' : 'none'"> 
    <div id="divEdificio">
        <div class="tracking-in-expand-fwd-top">
            Balderrama Jhossymar
        </div>     
          
        <div id="divSplashh">                                         
            <img id="icono-splash" src="../assets/img/LupaOjo.png" alt="icono-splash">                                       
        </div>        
                    
        <div class="tracking-in-expand-fwd-bottom">
            Practicas Profesionales 4ºA
        </div> 
    </div>        
  </div>    
  <ion-router-outlet id="main" class="body"></ion-router-outlet>
</ion-app>
