<ion-grid style="height: 90%; display: flex; flex-flow: column;" align="center">
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button style="border: 5px solid black;" (click)="onCosasLindas()">
        <img src="../../assets/img/Menu/BuenEstado.png" height="330" width="380">        
      </button>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button style="border: 5px solid black;" (click)="onCosasFeas()">
        <img src="../../assets/img/Menu/MalEstado.png" height="330" width="380">        
      </button>
    </ion-col>
  </ion-row>
</ion-grid>